{
  networking.firewall.allowedTCPPorts = [ 80 443 ];

  environment.systemPackages = with pkgs; [
    certbot
    nginx
  ];
location /static/ {
    alias /API-STUDIO/ApiStudio/staticfiles/;
}

  services.nginx = {
    enable = true;
    recommendedGzipSettings = true;
    recommendedProxySettings = true;

    virtualHosts = {
      "studio.colleges91.com" = {
        enableACME = false; # set to true if you want Nginx to manage certs (ACME)
        forceSSL = true;

        sslCertificate = "/etc/letsencrypt/live/studio.colleges91.com/fullchain.pem";
        sslCertificateKey = "/etc/letsencrypt/live/studio.colleges91.com/privkey.pem";

        locations."/" = {
          root = "/var/www/studio";
          index = "index.html";
        };
      };
    };
  };

  systemd.services.nginx.serviceConfig = {
    Restart = "always";
  };
}
